body {
    margin: 0;
    padding: 0;
    background-color: #F8F7DB;
    font-family: Arial, Helvetica, sans-serif;
    color: #091350;
}

#logo {
    background: url('../img/ang06_logo.png') #93B3F7 no-repeat;
    height: 48px;
}

.page-header {
    margin: 0 0 0 0;
}

.page-footer {
    background: #ddd;
    padding: 5px;
}

.red {
    background: red;
}

.green {
    background: green;
}

.blue {
    background: blue;
}