<!DOCTYPE html>
<html ng-app="products">
<head>
    <title>Home Page</title>
    <meta charset=utf-8/>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <script src="angularjs/angular.js"></script>
    <script src="angularjs/plugins/angular-ui-router.min.js"></script>
    <script src="angularjs/plugins/ui-bootstrap-tpls-0.12.1.js"></script>
    <script src="app.js"></script>
    <script src="controllers.js"></script>
    <script src="services.js"></script>

    <style>
        .search {
            margin-left: 10px;
        }
    </style>
</head>
<body>

<!-- BEGIN HEADER -->
<div ng-include="'partials/header.html'" ng-controller="HeaderController" class="page-header">
</div>
<!-- END HEADER -->

<div class="container">
    <div ui-view></div>

    <script type="text/ng-template" id="content.html">
        <div class="row">
            <h3>Examples of using Angular's Bootstrap Plugin</h3>
        </div>
        <div class="row">
            <div class="col-md-4" ng-controller="SidebarCtrl">
                <ul>
                    <li ng-repeat="page in content"><a ng-click="setPage(page)">Go to {{page}}</a></li>
                </ul>
            </div>
            <div class="col-md-8">
                <div ui-view></div>
            </div>
        </div>
    </script>
</div>

<!-- BEGIN FOOTER -->
<div ng-include="'partials/footer.html'" class="page-footer">
</div>
<!-- END FOOTER -->

</body>
</html>
