<style>
    #gameList {
        height: 310px;
        background-color: white;
        box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
        margin-bottom: 12px;
    }
</style>

<div>
    <a ui-sref="editFilters" class="btn btn-primary nodecoration">Filter</a>
    <a ng-click="clearFilters" class="btn btn-default nodecoration">Clear Filters</a>
    <a ui-sref="editColumns" class="btn btn-primary nodecoration">Edit Columns</a>
    <a ui-sref="games.new" class="btn btn-primary nodecoration">New</a>
</div>

<p></p>

<ang06-grid id="gameList"
            items-source="gameCollection"
            item-formatter="gameItemFormatter"
            column-layout="gameColumnLayout"
            selection-mode="None"
            headers-visibility="Column">
</ang06-grid>

<table class="table gametable">
    <tr>
        <th>Name</th>
        <th>Active</th>
        <th style="text-align:right">Download Price</th>
        <th>&nbsp;</th>
    </tr>
    <tr ng-repeat="game in games">
        <td>{{game.name}}</td>
        <td>{{game.active}}</td>
        <td style="text-align:right">{{game.download_price}}</td>
        <td>
            <a class="btn btn-primary" ui-sref="games.view({id: game.id})">View</a>
            <a class="btn btn-danger" ng-click="deleteGame(game)">Delete</a>
        </td>
    </tr>
</table>