<div>
    <a ui-sref="editFilters" class="btn btn-primary nodecoration">Filter</a>
    <a ng-click="clearFilters" class="btn btn-default nodecoration">Clear Filters</a>
    <a ui-sref="editColumns" class="btn btn-primary nodecoration">Edit Columns</a>
    <a ui-sref="episodes.new" class="btn btn-primary nodecoration">New</a>
</div>

<p></p>

<table class="table objectivetable">
    <tr>
        <th>Episode Name</th>
        <th>Name</th>
        <th>Date Created</th>
        <th>&nbsp;</th>
    </tr>
    <tr ng-repeat="objective in objectives">
        <td>{{objective.title}}</td>
        <td>{{objective.name}}</td>
        <td>{{objective.date_created}}</td>
        <td>
            <a class="btn btn-primary" ui-sref="objectives.view({id: objective.id})">View</a>
            <a class="btn btn-danger" ng-click="deleteObjective(objective)">Delete</a>
        </td>
    </tr>
</table>