<style>
    body {
        padding: 15px;
    }

    .select2 > .select2-choice.ui-select-match {
        /* Because of the inclusion of Bootstrap */
        height: 29px;
    }

    .selectize-control > .selectize-dropdown {
        top: 36px;
    }
</style>

<div ng-controller="SelectsDemoCtrl">

    <h3>Example using Countries</h3>
    <p>Selected: {{country.selected}}</p>
    <ui-select ng-model="country.selected" theme="bootstrap" ng-disabled="disabled" style="width: 300px;">
        <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="country in countries | filter: $select.search">
            <span ng-bind-html="country.name | highlight: $select.search"></span>
            <small ng-bind-html="country.code | highlight: $select.search"></small>
        </ui-select-choices>
    </ui-select>

    <h3>Example using People</h3>

    <p>Selected: {{person.selected}}</p>
    <ui-select ng-model="person.selected" theme="bootstrap" ng-disabled="disabled" style="min-width: 300px;">
        <ui-select-match placeholder="Select a person in the list or search his name/age...">{{$select.selected.name}}
        </ui-select-match>
        <ui-select-choices repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
            <div ng-bind-html="person.name | highlight: $select.search"></div>
            <small>
                email: {{person.email}}
                age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
            </small>
        </ui-select-choices>
    </ui-select>
</div>

<div style="height: 10px"></div>
