<div ng-controller="SelectsDemoCtrl">
    <p>Selects</p>

    <ui-select ng-model="address.selected"
               theme="bootstrap"
               ng-disabled="disabled"
               reset-search-input="false"
               style="width: 300px;">
        <match placeholder="Enter an address...">{{$select.selected.formatted_address}}</match>
        <choices repeat="address in addresses track by $index"
                 refresh="refreshAddresses($select.search)"
                 refresh-delay="0">
            <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
        </choices>
    </ui-select>
</div>

<div style="height: 10px"></div>
