<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Title</label>

    <div class="col-sm-10">
        <input type="text" ng-model="episode.title" class="form-control" id="name" placeholder="Episode Title Here"/>
    </div>
</div>

<div class="form-group">
    <label for="seq_num" class="col-sm-2 control-label">Seq Number</label>

    <div class="col-sm-10">
        <input type="text" ng-model="episode.seq_num" class="form-control" id="seq_num"
               placeholder="Sequence Number Here"/>
    </div>
</div>

<div class="form-group">
    <label for="min_score_points" class="col-sm-2 control-label">Min Score Points</label>

    <div class="col-sm-10">
        <input type="text" ng-model="episode.min_score_points" class="form-control" id="min_score_points"
               placeholder="Min Score Points Here"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>