<div id="logo"></div>
<nav class="navbar nav-bar-default mainMenu" role="navigation">
    <div class="container-fluid">

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active: stateIncludes('games')}">
                    <a ui-sref="games.list">Games</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li ng-class="{active: stateIncludes('episodes')}">
                    <a ui-sref="episodes.list">Episodes</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li ng-class="{active: stateIncludes('objectives')}">
                    <a ui-sref="objectives.list">Objectives</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li ng-class="{active: stateIncludes('buttons')}">
                    <a ui-sref="buttons">Buttons</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li ng-class="{active: stateIncludes('accordions')}">
                    <a ui-sref="accordions">Accordions</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li ng-class="{active: stateIncludes('tabs')}">
                    <a ui-sref="tabs">Tabs</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

